body {
    background-color: #d2d3d7;

}

.navbar {

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}

.nav-link {
    color: white;
    margin-left: 60px;
    margin-right: 60px;


}

.jumbotron {
    margin-top: -20px;
    height: 500px;
    text-align: right;
    padding-right: 100px
}

.container {
    padding: 10px
}